body
{
/*background-color:aliceblue;*/
}

.fform {
    padding: 2rem 2rem 2rem 2rem;
    box-shadow: 0px 0px 6px #1d51b6;
    text-align: left;
}

h3 {
text-align: center;
}

.wrapper
{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 2rem 2rem 2rem 2rem;
}